.titulo {
    background-image: linear-gradient(to right,
            var(--accent-color),
            var(--accent-color) 50%,
            var(--theme) 50%);
    background-size: 200% 100%;
    background-position: -100%;
    background-clip: text;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.titulo:before {
    content: '';
    background: var(--accent-color);
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.titulo:hover {
    background-position: 0;
}

.titulo:hover::before {
    width: 100%;
}