<section>
    @defer() {
    <app-menu class="w-100vw"></app-menu>
    }
</section>
<main class="flex box-border !overflow-x-hidden">
    <section class="{{abierto ? 'w-[75vw]' : 'w-[100vw]'}} trasition duration-1000 transition-all">
        
    </section>
    <section
        class="h-[calc(100vh-61px)] box-border bg-[var(--section-bg-color)] trasition duration-1000 transition-all {{abierto ?  'w-[25vw]' : 'w-0'}}">
        @defer() {
            <app-recursos class="{{abierto ? 'opacity-100' : 'opacity-0'}} trasition duration-1000 transition-all"></app-recursos>
        }
        <button
            class="rounded-full w-11 h-11 p-0 box-border absolute top-24 trasition duration-1000 transition-all {{!abierto ? 'left-[calc(99vw-60px)]' : 'left-[calc(75vw-22px)]'}}"
            (click)="abierto = !abierto">
            <i
                class="fas fa-arrow-right {{!abierto ? 'rotate-180' : ''}} trasition duration-1000 transition-transform"></i>
        </button>
    </section>
</main>